<div height="100vh" display="flex" fdc padding="50px" backgroundColor="#ecf0f1">
  <div display="flex" fdc aic jcc width="100%" color="#2c3e50">
    <h1 margin="0">Posts</h1>
    <p>
      A posts application to create demo of
      <a
        fontSize="1.2em"
        fontWeight="bold"
        color="#1abc9c"
        href="https://miragejs.com"
        target="blank"
        >miragejs</a
      >
      - api mocking lib.
    </p>
  </div>
  <div marginBottom="30px" *ngFor="let post of posts">
    <app-post [post]="post" (notifyDelete)="notifyDelete($event)"></app-post>
  </div>
  <div position="fixed" bottom="20px" right="20px" (click)="addPost()">
    <div
      display="flex"
      jcc
      aic
      backgroundColor="#1abc9c"
      color="#ecf0f1"
      borderRadius="50%"
      width="50px"
      height="50px"
      cursor="pointer"
      style="box-shadow:0 0 10px grey"
    >
      <span fontSize="2em">+</span>
    </div>
  </div>
</div>
